@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Kumbh Sans', sans-serif;
}
.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.navbar__container{
  display: flex;
  justify-content:space-between;
  height: 80px;
  z-index:1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo{
  background-color:#ff8177 ;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  font-family: 'DotGothic16', sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
}
.fa-laptop-code{
  margin-right: 0.5rem;
}
.navbar__menu{ /*i think this is the entire menu item*/
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar__item{  /*this just targets the links but not the button*/
  height: 80px;
}
.navbar__links{
  color: rgb(250, 204, 204);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bold;
}

.navbar__links:hover{
  color:#ffa59b
}

.navbar__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
}
#signup__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  height: 50%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
  font-weight:bold;
  
}  
#search__logo{
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  background-color: rgb(250, 204, 204); ;
  background-size: 100%;
  display: flex;
  align-items:center;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  margin-left: 0.5em;
 
}  

#signup__btn:hover{
  background:  #ffa59b;;
}

@media screen and (max-width: 960px){
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  #search__logo{
    opacity: 0;
  }
  .navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    border-radius:0px  0px 5px 5px;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50rem;
    z-index: -1;
  }

  .navbar__menu.active{
    background: #181717;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 30rem;
    font-size: 1.6rem;
 
  }
  #navbar__logo{
    padding-left: 25px;
  }
  .navbar__toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    
  }
  .navbar__item{
    width: 100%;
  }
  .navbar__links{
    text-align: center;
    padding:2rem;
    width: 100%;
    height: auto;
    display:table;
  }

  #mobile-menu {
    position: absolute;
    top:20%;
    right:5%;
    transform: translate(5%, 20%)
  }

  .navbar__btn{
    padding-bottom:  2rem;
  }

   #signup__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    margin-top: 10px;
  }

  .navbar__toggle .bar{
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*hero section css */

.main{
  background-color: #141414;
}
.main__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 91.7vh;
  background-color:#141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding:0 50px;
  
}
.main__content{
  margin-left: 5rem;
}

.main__content h1{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}

.main__content h2{
  font-size: 2.5rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}
.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;

}
.main__button{
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding:14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__button a{
  color: #fff;
  text-decoration: none;
  z-index: 2;
  position: relative;
}

.main__button:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffa59b;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__button:hover{
  color: #fff;
}

.main__button:hover:after{
  width: 100%;
}

.main__img--container{
  text-align: center;
}



/* mobile resoponsive*/
@media screen and (max-width:768px){
  .main__container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 92vh;
  }
  .main__content{
    text-align: center;
    margin-bottom: 4rem;
  }
  .main__content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .main__content h2{
    font-size: 2rem;
  }
  .main__content p{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  #main__img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }
  .main__content{
    margin-left: 0;
  }
}

